@import 'colors';

footer{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(14, 13, 15);

    >div{
        width: 100%;
        // height: 10vh;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5px;

        >h1{
            text-transform: uppercase;
        }

        >h5{
            font: 900 1.2rem $text3;
            word-spacing: 4px;
            letter-spacing: 1px;
        }

        svg{
            font-size: 2rem;
            color: $dark;

            &:hover{
                filter: invert(1);
            }
        }

        >div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 7px;

        }
    }
}